.header{
    width: 100%;
    position: sticky;
    border: 1px solid;
    border-style: groove;
    box-sizing: border-box;
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 20px;

}
.logo{
    width: 30%;
    font-family: 'Times New Roman', Times, serif cursive;
    font-size: 20px;
    color: rgb(85, 119, 221);
}
nav a{
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 2px;
    text-decoration: none;
    color: rgb(77, 30, 30);
}
nav a:hover{
    color: rgb(203, 203, 252);
}